@import "../_global/variables";
@import "../_global/raster-grid";
@import "../_global/selectize";
@import "../_global/selectize.theme";

/** IMPORTS **/
@import "../../../node_modules/@mdi/font/scss/materialdesignicons";
@import "../../../node_modules/flatpickr/dist/flatpickr.css";
@import "../../../node_modules/flatpickr/dist/themes/material_red.css";

/**
 * ADMIN LIST
 */
$status-width: 18px;
th {
	&.column-_ads_status {
		width: 3 * $status-width + 20px;
	}
}
._stool-component-postbox {
	border: 1px solid lighten($primary-color, 20%);
	border-radius: $global-border-radius;
	//overflow: hidden;
	._stool-component-hndle {
		._stool-component-icon {
			width: 10px;
			height: auto;
			vertical-align: baseline;
			margin-right: 4px;
			opacity: 0.6;
		}
	}
}
._stool-component-wrap {
	margin-top: 12px;
	._stool-component {
		padding: 6px;
		margin-bottom: 6px;
		border: 1px solid $gray-color-lighter;
		border-radius: 5px;
		transition: border 0.3s ease;
		//overflow: hidden;
		label {
			display: block;
			//font-weight: 800;
		}
		input {
			vertical-align: sub;
			display: inline-block;
			&.invalid {
				border-color: $error-color;
			}
		}
		input[type="text"],
		input[type="textarea"],
		input[type="date"],
		input[type="datetime-local"] {
			width: 100%;
		}
		select {
			width: calc(100% - 8px);
		}
		._stool_checkbox_toggle {
			position: relative;
			display: inline-block;
			width: 2rem;
			height: 1rem;
			cursor: pointer;
			transform: translate3d(0, 0, 0);
			margin-left: .25rem;
			margin-right: .5rem;
			vertical-align: text-top;
			&:before {
				content: "";
				position: relative;
				top: 0.25rem;
				left: 0;
				width: 100%;
				height: 0.5rem;
				display: block;
				background: $gray-color-light;
				border-radius: $global-border-radius;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: background 0.2s ease;
			}
			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 1rem;
				height: 1rem;
				display: block;
				background: $light-color;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 10px;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 3px 8px $gray-color;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease;
				/*
				&:before {
					content: "";
					position: absolute;
					display: block;
					margin: -18px;
					width: 56px;
					height: 56px;
					background: $primary-color;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 50%;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(0);
					opacity: 1;
					pointer-events: none;
				}
				*/
			}
		}
		._stool_checkbox {
			display: none;
			&:checked + ._stool_checkbox_toggle {
				&:before {
					background: rgba($primary-color, .5);
				}
				span {
					background: $primary-color;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translateX(100%);
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: 0 3px 8px rgba($primary-color,.5);
					/*
					&:before {
						//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
						transform: scale(1);
						opacity: 0;
						//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
						transition: all 0.4s ease;
					}
					*/
				}
			}
		}
		&:hover {
			border-color: lighten($primary-color, 10%);
		}
		&._stool-media-upload {
			._stool-media-input {
				display: none;
			}
			._stool_media_button {
				border: 2px dashed $gray-color-light;
				box-shadow: none;
				width: 100%;
			}
			._stool_media_button_erase {
				color: $error-color;
				background: transparent;
				border: none;
				box-shadow: none;
				width: 100%;
			}
			._stool-media-preview-wrap {
				text-align: center;
				display: block;
				//padding: 4px;
				._stool-media-preview {
					//border: 1px dashed $gray-color-lighter;
					box-shadow: none;
					max-width: 98%;
					margin-top: 4px;
					display: inline-block;
					cursor: pointer;
					//
					background: $light-color;
					background-size: 14px 14px;
					background-position: center;
					background-image: linear-gradient(45deg, $gray-color-lighter 25%, transparent 25%, transparent), linear-gradient(-45deg, $gray-color-lighter 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, $gray-color-lighter 75%), linear-gradient(-45deg, transparent 75%, $gray-color-lighter 75%);
				}
			}
		}
    &._stool-component-driver {
      border: none;
    }
	}
	._stool-component-help {
		font-size: 0.7rem;
		color: $gray-color;
		._stool-component-help-icon {
			opacity: .45;
			width: 10px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 2px;
		}
	}
	._stool_metabox_notice {
		text-align: right;
		font-size: 10px;
		color: $gray-color;
	}
}

._stool-posts-list-image,
._stool-posts-list-video {
	//width: 128px;
	max-width: 100%;
}
._stool-post-lists-icon {
	width: 10px;
	height: auto;
	vertical-align: baseline;
	margin-right: 4px;
	opacity: 0.25;
}

._stool-checkbox-wrap {
	font-size: 1.2rem;
	padding: 4px;
	display: inline-block;
	cursor: pointer;
	._stool-checkbox-inactive {
		color: $gray-color;
		display: block;
	}
	._stool-checkbox-active {
		color: $success-color;
		display: none;
	}
	&:hover {
		background: $gray-color-lighter;
		border-radius: 100%;
	}
	&.active {
		._stool-checkbox-inactive {
			display: none;
		}
		._stool-checkbox-active {
			display: block;
		}
	}
}

.clearfix {
	width: 100%;
	height: 1px;
	display: block;
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}